@using EntityLayer.Concrete
@model List<Portfolio>
<div class="row ">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Proje Listesi</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Ana Görsel</th>
                                <th>Proje Adı</th>
                                <th>Link</th>
                                <th>Fiyat</th>
                                <th>Tamamlanma Oranı</th>
                                <th>Durum</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var x in Model)
                            {
                                <tr>
                                    <td>@x.PortfolioID</td>
                                    <td><img src="@x.ImageUrl" /></td>
                                    <td>@x.Name</td>
                                    <td>@x.ProjectUrl</td>
                                    <td>@x.Price</td>
                                    <td>%@x.Value</td>
                                    <td>
                                        <a href="/Portfolio/EditPortfolio/@x.PortfolioID">
                                            <div class="badge badge-outline-success">Detayları Gör</div>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>