@using EntityLayer.Concrete
@model List<Skill>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Yetenek Tablosu</h3>
</div>

<!-- Light table -->
<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="sort" data-sort="name">#</th>
                <th scope="col" class="sort" data-sort="budget">Başlık</th>
                <th scope="col" class="sort" data-sort="status">Oran</th>
                <th scope="col">Sil</th>
                <th scope="col" class="sort" data-sort="completion">Düzenle</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="list">
            @foreach (var x in Model)
            {
                <tr>
                    <th>
                        @x.SkillID
                    </th>
                    <td class="budget">
                        @x.Title
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            <span class="completion mr-2">@x.Value%</span>
                            <div>
                                <div class="progress">
                                    <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="@x.Value%" aria-valuemin="0" aria-valuemax="100" style="width: @x.Value%;"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td><a href="/Skill/DeleteSkill/@x.SkillID" class="btn btn-danger">Sil</a></td>
                    <td><a href="/Skill/EditSkill/@x.SkillID" class="btn btn-success">Güncelle</a></td>
                </tr>
            }
        </tbody>
    </table>

    <a href="/Skill/AddSkill/" class="btn btn-primary">Yeni Yetenek Ekle</a>
</div>
